@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,900;1,100&display=swap");
body {
  background-color: #F4F5F4;
}

/*estilos tipográficos*/
p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: black;
}

a {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

h1 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: larger;
  color: white;
  padding: 1rem;
  margin: 2rem;
  background-color: #212529;
}

h2 {
  font-family: "Poppins";
  font-weight: 900;
  color: #dfcbda;
}

h3 {
  font-family: "Poppins";
  font-weight: 600;
  color: white;
  font-size: medium;
  padding: 1rem;
  margin: 2rem;
  background-color: #212529;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: white;
  padding: 30px;
}

/*NAV*/
@media (min-width: 768px) {
  .navsmall {
    display: none;
  }
}

@media (min-width: 1px) and (max-width: 767px) {
  .navbig {
    display: none;
  }
}

.navsmall {
  background-color: #343a40;
  color: white;
}

/*Footer*/
.footer {
  background-color: #212529;
  bottom: 0;
  margin-top: 10rem;
  padding: 1rem;
}

.footer .footercito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .foot {
  color: #F4F5F4;
}

/*formulario de contacto*/
.contacto {
  background-image: url(../img/back.jpg);
}

.contacto form {
  background: linear-gradient(171deg, rgba(250, 250, 250, 0.835469) 0%, rgba(228, 226, 226, 0.46292) 50%, rgba(221, 216, 209, 0.527346) 100%);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 0px solid rgba(255, 255, 255, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  padding: 3rem;
  margin: 3rem auto;
  font-family: Poppins;
  font-size: medium;
  font-weight: 500;
}

.contacto .boton {
  background-color: #c9b1bd;
  color: white;
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  font-size: 10pt;
  border-radius: 20px;
}

.contacto .marcador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: small;
  padding: 1rem;
}

* {
  padding: 0;
  margin: 0;
}

/*body {
    background-color: #F4F5F4;
}


/*estilos tipográficos

p {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: black;
}

a {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

h1 {
    font-family: "Poppins";
    font-weight: 700;
    font-size: larger;
    color: white;
    padding: 1rem;
    margin: 2rem;
    background-color: #212529;
}


h2 {
    font-family: "Poppins";
    font-weight: 900;
    color: white;
   
}


h3 {
    font-family: "Poppins";
    font-weight: 600;
    color: white;
    font-size: medium;
    padding: 1rem;
    margin: 2rem;
    background-color: #212529;

}




ul {
    display: flex;
    list-style-type: none;

    li a{
        text-decoration: none;
        color: white;
        padding: 30px;
        
       
    }
}*/
.parra {
  margin: 0 2rem 0 2rem;
}

/*formulario de contacto



.contacto {
    background-image: url(../img/back.jpg);

    form {
        background: linear-gradient(171deg, rgba(250,250,250,0.8354692218684349) 0%, rgba(228,226,226,0.4629202022605917) 50%, rgba(221,216,209,0.527345972568715) 100%);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 5.0px );
        -webkit-backdrop-filter: blur( 5.0px );
        border-radius: 10px;
        border: 0px solid rgba( 255, 255, 255, 0.18 );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        border-radius: 20px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        border-radius: 20px;
        padding: 3rem;
        margin: 3rem auto;
        font-family: Poppins;
        font-size: medium;
        font-weight: 500;
    
    }

    .boton {
        background-color: #c9b1bd;
        color: white;
        width: 100%;
        padding: 0.5rem;
        margin-top: 1rem;
        border: none;
        font-family: Poppins;
        font-weight: 500;
        font-size: 10pt;
        border-radius: 20px;
        
    }

    .marcador {
        display: flex;
        justify-content: center;
        font-size: small;
        padding: 1rem;
        
    
    }
}*/
/*COLS*/
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
  background-color: #212529;
  -ms-flex-line-pack: center;
      align-content: center;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-12 {
  width: 100%;
}

/*Imagen*/
.img-fluid {
  width: 100%;
}

.banner {
  width: 100%;
}

.carousel {
  margin: 2rem 2rem 0 2rem;
}

/* animaciones*/
.zoom:hover {
  -webkit-transition-property: all ease-in;
  transition-property: all ease-in;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.zoomito:hover {
  -webkit-transition-property: all ease-in;
  transition-property: all ease-in;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: scale(120%);
          transform: scale(120%);
}

/*NAV

@media (min-width: 768px){

    .navsmall {
        display: none;

    }
}

@media (min-width: 1px) and (max-width: 767px){

    .navbig {
        display: none;
    }

}

.navsmall {
    background-color: #343a40;
    color: white;
}*/
/* Index table*/
.descri {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

table, td {
  border: 3px solid;
  border-color: #e8c9db;
  padding: 1rem;
  color: #212529;
  font-family: "Poppins";
  font-weight: 200;
  width: 60%;
}

/*Footer

.footer {
    background-color: #212529;
    bottom: 0;
    margin-top: 10rem;
    padding: 1rem;

    .footercito {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .foot {
        color: #F4F5F4;
    }
}*/
/*# sourceMappingURL=styles.css.map */