@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,900;1,100&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #F4F5F4;
}

p {
  font-family: "Poppins";
  font-weight: 200;
  color: black;
  padding: 2rem;
}

h1 {
  font-family: "Poppins";
  font-weight: 700;
  color: white;
  padding: 1rem;
  margin: 2rem;
  background-color: #212529;
}

h2 {
  font-family: "Poppins";
  font-weight: 900;
  color: white;
}

h3 {
  font-family: "Poppins";
  font-weight: 600;
  color: white;
  padding: 1rem;
  margin: 2rem;
  background-color: #212529;
}

.foot {
  color: #F4F5F4;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: white;
  padding: 30px;
}

/*formulario de contacto*/
form {
  background: linear-gradient(171deg, rgba(250, 250, 250, 0.835469) 0%, rgba(228, 226, 226, 0.46292) 50%, rgba(221, 216, 209, 0.527346) 100%);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 0px solid rgba(255, 255, 255, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  padding: 3rem;
  margin: 3rem auto;
  font-family: Poppins;
  font-weight: 500;
}

/*grilla index*/
@media (min-width: 1px) {
  .grilla-index {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr 8fr 4fr 1fr;
        grid-template-rows: 1fr 2fr 8fr 4fr 1fr;
        grid-template-areas: "header header header header" "banner banner banner banner" "maino maino maino maino" "perro perro perro perro" "footer footer footer footer";
    height: 2000px;
  }
  /*banner*/
  .banner {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: banner;
  }
  .banner {
    width: 100%;
  }
  /*main*/
  .maino {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: maino;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .descri {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  table, td {
    border: 3px solid;
    border-color: #e8c9db;
    padding: 1rem;
    color: #212529;
    font-family: "Poppins";
    font-weight: 200;
  }
  .main-edit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .iframe {
    width: 300px;
    margin-left: 40px;
  }
  .main-edit img {
    width: 300px;
  }
  /*galeria index*/
  .perro {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: perro;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
  }
  .gal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .perro img {
    width: 200px;
    margin: 1rem;
  }
  .galeria img {
    width: 100%;
  }
  .descri-table {
    font-size: small;
  }
}

@media (min-width: 600px) {
  .grilla-index {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 2fr 8fr 4fr 1fr;
        grid-template-rows: 1fr 2fr 8fr 4fr 1fr;
        grid-template-areas: "header header header header" "banner banner banner banner" "maino maino maino maino" "perro perro perro perro" "footer footer footer footer";
    height: 2000px;
  }
  /*main*/
  .maino {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: maino;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
  }
  .main-edit img {
    width: 500px;
  }
  .iframe {
    width: 500px;
    margin-left: 40px;
  }
  .descri {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  table, td {
    border: 3px solid;
    border-color: #e8c9db;
    padding: 1rem;
    color: #212529;
    font-family: "Poppins";
    font-weight: 200;
  }
  /*galeria index*/
  .perro {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: perro;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .perro img {
    width: 200px;
    margin: 1rem;
  }
  .galeria img {
    width: 100%;
  }
}

@media (min-width: 950px) {
  .grilla-index {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 2fr 8fr 4fr 1fr;
        grid-template-rows: 1fr 2fr 8fr 4fr 1fr;
        grid-template-areas: "header header header header" "banner banner banner banner" "maino maino maino maino" "perro perro perro perro" "footer footer footer footer";
    height: 2000px;
  }
  /*main*/
  .maino {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: maino;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
  }
  .descri {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  table, td {
    border: 3px solid;
    border-color: #e8c9db;
    padding: 1rem;
    color: #212529;
    font-family: "Poppins";
    font-weight: 200;
  }
  /*galeria index*/
  .perro {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: perro;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .perro img {
    width: 200px;
    margin: 1rem;
  }
  .galeria img {
    width: 100%;
  }
  .iframe {
    width: 900px;
    margin-left: 50px;
  }
}

/*grilla branding*/
@media (min-width: 1px) {
  .grilla {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 10fr 1fr;
        grid-template-rows: 1fr 10fr 1fr;
        grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
    height: 2000px;
  }
  .header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: header;
    background-color: #212529;
    color: white;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Poppins", sans-serif;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none;
  }
  ul li a {
    text-decoration: none;
    color: white;
    font-size: small;
    padding: 10px;
  }
  /*main*/
  .main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: main;
    margin-top: 30px;
  }
  .footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: footer;
    background-color: #212529;
    bottom: 0;
    width: auto;
    margin-top: 3rem;
    padding: 1rem;
  }
  .footercito {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
    gap: 20px;
    border: 10px;
    justify-items: center;
  }
  .galeria img {
    width: 100%;
  }
  .banner {
    width: 100%;
  }
  .marcador {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: small;
  }
}

@media (min-width: 600px) {
  .grilla {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 10fr 1fr;
        grid-template-rows: 1fr 10fr 1fr;
        grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
    height: 2000px;
  }
  .header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: header;
    background-color: #212529;
    color: white;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    padding: 30px;
  }
  .ul {
    margin: 40px;
  }
  /*main*/
  .main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: main;
    margin-top: 30px;
  }
  .footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: footer;
    background-color: #212529;
    bottom: 0;
    width: auto;
    margin-top: 3rem;
    padding: 1rem;
  }
  .footercito {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .marcador {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: large;
  }
  .galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    gap: 20px;
    border: 10px;
    justify-items: center;
  }
  .galeria img {
    width: 100%;
  }
  .banner {
    width: 100%;
  }
}

/* estilos contacto*/
.contacto {
  background-image: url(../img/back.jpg);
}

form {
  background: linear-gradient(171deg, rgba(250, 250, 250, 0.835469) 0%, rgba(228, 226, 226, 0.46292) 50%, rgba(221, 216, 209, 0.527346) 100%);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 0px solid rgba(255, 255, 255, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  padding: 2rem;
  width: 400px;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input {
  margin: 10px 0 10px 0;
}

select {
  margin-top: 10px;
}

.boton {
  background-color: #c9b1bd;
  color: white;
  width: 100%;
  padding: 0.8rem;
  margin-top: 1rem;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  font-size: 10pt;
  border-radius: 20px;
}

/* animaciones*/
.zoom:hover {
  -webkit-transition-property: all ease-in;
  transition-property: all ease-in;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.zoomito:hover {
  -webkit-transition-property: all ease-in;
  transition-property: all ease-in;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: scale(120%);
          transform: scale(120%);
}

/*BOOTSTRAP*/
/*COLS*/
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
  background-color: #212529;
  -ms-flex-line-pack: center;
      align-content: center;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}
/*# sourceMappingURL=styles.css.map */